*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #f4f4f4;
    color: #222;
    overflow-x: hidden;
}
h1{
    color: #7a3df0;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    background: #7a3df0;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 10px 10px;
}

nav{
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

nav a::after{
    content:'' ;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: white;
    transition: 3s;
}

nav a:hover::after{
    width: 100%;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px;
}
.hero img{
    width: 260px;
    height: 260px;
    border-radius: 50%;
    object-fit: cover;
    transition: .4s;
}
.hero img:hover{
    transform: scale(1.05);
}

.btn{
    background: #7a3df0;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    cursor: pointer;
    margin-top:20px; 
    transition: .3s;
}
.btn:hover{
    background: #5e2edc;
    transform: translateY(-3px);
}
.btn-outline{
    background: transparent;
    border: 2px solid #7a3df0;
    color: #7a3df0;
    padding: 10px;
    border-radius: 25px;
    transition: .3s;
}
.btn-outline:hover{
    background: #7a3df0;
    color: white;
}


.about{
    background: #2c2f3f;
    color: white;
    display: flex;
    gap: 30px;
    padding: 50px;
    margin: 40px;
    border-radius: 25px;
}
.about img{
    width: 40%;
    border-radius: 25px;
    transition: .4s;
}
.about img:hover {
    transform: scale(1.05);
}

/* Projet */
.projects{
    padding: 60px 40px;
    text-align: center;
}
.project-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin-top: 40px;
}
.project-card{
    background: white;
    padding: 20px;
    border-radius: 25px;
    transition: .4s;
}
.project-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}
.project-card img{
    width: 100%;
    border-radius: 25px;
    margin-bottom: 15px;
}

/* partie contact */
.contact{
    background: #2c2f3f;
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 50px;
    margin: 40px;
    border-radius: 25px;
}
.contact form{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.contact input,
.contact textarea{
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: none;
    outline: none;
}
footer{
    background: #7a3df0;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px 10px 0 0 ;
}

/* media queries et animation  */

#loader{
    position: fixed;
    inset: 0;
    background: #7a3df0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
.loader-circle{
    width: 60px;
    height: 60px;
    border: 6px solid white;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 120s linear infinite;
}
@keyframes spin {
    to{ transform: rotate(360deg);}
}

 .animate{
    opacity: 0;
    transform: translateY(40px);
    transition: all .8s ease;
}
.animate.show{
    opacity: 1;
    transform: none;
} 
.hamburger{
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.hamburger span{
    width: 28px;
    height: 3px;
    background: white;
    margin: 4px 0;
    border-radius: 10px;
    transition: .4s;
}
.hamburger.active span:nth-child(1){
    transform: rotate(45deg) translate(5px,6px);
}
.hamburger.active span:nth-child(2){
    opacity: 0;
}
.hamburger.active span:nth-child(3){
    transform: rotate(-45deg) translate(5px,-6px);
}

.nav-mobile{
    position: absolute;
    top: 80px;
    right: -100%;
    width: 100%;
    background: #7a3df0;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 0 0 25px 25px;
    transition: .4s;
}
.nav-mobile.open{
    right: 0;
}
.nav-mobile a{
    color: white;
    text-decoration: none;
    padding: 15px 0;
    font-size: 18px;
}
@media (max-width:900px){
    nav{display:none}
    .hamburger{display:flex;}
    .hero,.about,.contact{
        flex-direction: column;
        text-align: center;
    }
    .about img, contact form{
        width: 100%;
    }
    .project-grid{
        grid-template-columns: 1fr;
    }
}