*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #f4f4f4;
    color: #222;
    overflow-x: hidden;
}

header{
    background: #7a3df0;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 25px 25px;
}

nav{
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

nav a::after{
    content:'' ;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: white;
    transition: 3s;
}

nav a:hover::after{
    width: 100%;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px;
}
.hero img{
    width: 260px;
    height: 260px;
    border-radius: 50%;
    object-fit: cover;
    transition: .4s;
}
.hero img:hover{
    transform: scale(1.05);
}

.btn{
    background: #7a3df0;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    cursor: pointer;
    margin-top:20px; 
    transition: .3s;
}
.btn:hover{
    background: #5e2edc;
    transform: translateY(-3px);
}
.btn-outline{
    background: transparent;
    border: 2px solid #7a3df0;
    color: #7a3df0;
    padding: 10px;
    border-radius: 25px;
    transition: .3s;
}
.btn-outline:hover{
    background: #7a3df0;
    color: white;
}